
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="App">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mini-spa/script")
    @Scripts.Render("~/bundles/mini-app/script")
    @Scripts.Render("~/bundles/directives/script")

    

</head>
<body>

    <div ui-view></div>

</body>
</html>
